.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 600px; /*PARA CAMBIAR EL ANCHO*/
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.filter-field {
  flex: 1;
}

.full-width-table {
  width: 100%;
  background-color: white;
}

.modal-actions {
  margin-top: 1rem;
  text-align: center;
}

mat-paginator {
  background-color: #F4F4F4;
  border-radius: 4px;
}

button[color="warn"] {
  background-color: #D9534F;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 500;
  border: 0;
}

@media (max-width: 600px) {
  .modal-content {
    padding: 1rem;
  }

  .modal-content h4 {
    font-size: 20px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .table-container th {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }
}
