<!-- supplier-account-widget.component.html -->
<div class="mobile-header" *ngIf="isMobile"><h3>Account</h3></div>
<div class="account-widget">
  <div class="header" *ngIf="!isMobile"><h3>Account</h3></div>
  <div class="content">
    <div class="account-section"><h4>Weekly Earnings</h4>
      <div class="amount-row"><p class="amount">S/. {{ weeklyEarnings }}</p>
        <mat-icon class="trend-icon">arrow_drop_up</mat-icon>
      </div>
    </div>
    <div class="account-section"><h4>Purchased Supplies</h4>
      <div class="amount-row"><p class="amount">S/. {{ purchasedSupplies }}</p>
        <mat-icon class="trend-icon">arrow_drop_up</mat-icon>
      </div>
    </div>
  </div>
</div>
