<div class="profile-settings-container">
  <mat-card class="profile-settings-card">
    <mat-card-header>
      <mat-card-title>Edit your information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Personal Data" >
          <app-personal-data-settings/>
        </mat-tab>

        <mat-tab label="Business Data">
          <app-business-data-settings/>
        </mat-tab>

        <mat-tab label="Security and Privacy">
          <app-security-settings/>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>


</div>
